@media (max-width: 360px) {
    
    #page-body {
        display: block;
        flex-direction: column;
    }

    .topo-container #logo {
        width: 100vw;
    }

    .menu-nav ul li {
        display: none;
    }

    .banner-home {
        width: 727px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .container img {
        margin-left: 350px;
        height: 550px;
        width: 330px;
    }

    .text {
        width: 700px;
    }

    footer {
        width: 725px;
    }

    .assinatura {
        background-color: #191970;
    }
}